target/
bin/
.settings/
OSGI-INF/
.classpath
.project
*.iml
*.log
**/*.zip
tags
**/tags
.idea
build/
**/*.iml
bundles/**/META-INF/
bundles/**/git.properties
git.properties
**/git.properties
**/*.jar
**/*.esa
**/*.class
**/*.log
**/*.out
**/*.trace
**/*.rar
**/*.gz
**/*.tar
**/*.rar
**/*.zip
**/*.bak
**/*.war
**/*.exe
**/*.dmg
**/*.pdf
**/*.bak
**/*.bin
!bundles/**/src/main/resources/META-INF/
**/test-output/**
.DS_Store
**/test-output
**/node_modules
node_modules
**/bowser_components
bower_components
**/.tmp
**/.publish
**/target/*
.xmake
tags
tags.*
.gradle/
out/**
out/
*.log.*
story/*
*.key
*.pem
